header {display:flex; /*using flex for header menu/nav bar to keep them side by side*/
    justify-content: space-between;/*add space between each element*/
    align-items: center;/*Center the menu in the header*/
    border: black solid 3px;/*Add a solid border to header*/
    padding:5px;/*padding for space around the items*/
    color:white;/*color the text white for a big color contrast with the blue background*/
    background-color: rgba(34, 34, 34, 0.9);
    border-radius:5px;/*Curver the header's corners*/
}

body{
    background-image: url("image/LandingPageBackgroundIMG.jpg");
}

.navigation a {font-family: Arial, Helvetica, sans-serif;/*font and color for the menu options*/
            color:white;
            text-decoration: none;/*remove underline*/
}      


.navigation {display: flex;/*Keep menu list side by side */
            list-style: none;/*remove the dots */
            }

a:hover{color:red;} /*Hovering over the list items in the menu/nav bar and it will change its color */

.navigation li {padding: 0px 20px;}/*Padding around the list*/

img {padding:5px;}/*Padding around the image*/

input {display:block; /*Using display:block so the Lables and inputs are on top of one another*/
    margin-bottom: 10px; /*Giving a margin to the bottom and adding padding so inputs are spaced out*/ 
    padding: 10px;
    width: 200px;
}

#userInformation {
    color:white;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000;
    margin:0 auto; /*Centering the information*/
    padding-top: 100px; /*Adding padding to top to bring down the login info*/ 
}


button{

    display: block;/*Make button on top of each other*/
    margin-top: 10px;/*add spacing between the buttons*/
    width:100px;
    height:40px;
    border-radius: 5px;/*Curve the corners of the buttons*/   
}

.loginContainer{
    display: flex;/*display flex for entire login Container so image and login info is side by side*/
}

#loginHeader{
    text-align: center;/*Center login header and space it out from the bottom*/
    font-size:50px;
    margin-bottom: 50px;
}

footer {padding: 5px;
    background-color: rgba(34, 34, 34, 0.9);
    border: black solid 3px;
    color:white;
    border-radius: 3px;
}