body {
    font-family: sans-serif;
    padding-top: 85px;
    margin-right: 25%;
    margin-left: 25%;
    background-attachment: fixed;
    background-image: url("graphic/LandingPageBackgroundIMG.jpg");
    
}
.outside-container {
    /* border: 2px dashed rgb(231, 13, 86); BORDER FOR CSSING PURPOSES */
    min-width: 700px;
    
}
/*********************************************
 ************ TICKET REQUEST FORM ************
 *********************************************/
.overallTicketField {
    border: 2px groove rgb(71, 163, 182);
    background-color: rgba(34, 34, 34, 0.9);
}
.ticketLegend {
    font-size: 21px;
    background-color: rgba(34, 34, 34, 0.9);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color:white;
    border-bottom: 2px groove rgb(50, 50, 51);
    border-top: 2px groove rgb(50, 50, 51);
    border-left: 2px groove rgb(71, 163, 182);
    border-right: 2px groove rgb(71, 163, 182);
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.div_container {
    display: block;
}

/**************** INNER LEFT DIV ****************/
.inner_Left_Div {
    /* border: 2px dashed rgb(231, 13, 86); BORDER FOR CSSING PURPOSES */
    float: left;
    width: 45%;
    min-width: 300px;
    margin-left: 25px;
}

.firstNameChange, .lastNameChange, .majorChange {
    color: white;
    display: block;
    margin-top: 10px;
}

#firstNameChangeInput, #lastNameChangeInput {
    width: 65%;
}

/**************** INNER RIGHT DIV ****************/
.inner_Right_Div {
    /* border: 2px dashed rgb(231, 13, 86); BORDER FOR CSSING PURPOSES */
    float:right;
    width: 45%;
    min-width: 300px;
    margin-right: 25px;
}

.tableEnrolled {
    background-color: rgba(209, 248, 253, 0.9); 
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.tableOnCampus {
    background-color: rgba(250, 234, 209, 0.9); 
    border-radius: 10px;
    width: 100%;
}

.tableOnCampus th, td, .tableEnrolled th, td {
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px groove rgb(0, 0, 0);
    border-radius: 10px;
    width: 27%;
}

.radio_Yes {
    background-color: rgba(96, 243, 187, 0.9);
}

.radio_No {
    background-color: rgba(240, 143, 143, 0.9);
}

.ticketBtn {
    float: right;
    margin-top: 30px;
}

/*******************************************************
 ************ TICKET REQUEST MESSAGE SYSTEM ************
 *******************************************************/

.containerForTRMessage {
    margin-top: 30px;
    min-width: 667px;
    height: 460px;
    border: 2px groove rgb(71, 163, 182);
    background-color: rgba(34, 34, 34, 0.9);
}

.ticketRequestMessageLegend {
    font-size: 21px;
    background-color: rgba(34, 34, 34, 0.9);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color:white;
    border-bottom: 2px groove rgb(50, 50, 51);
    border-top: 2px groove rgb(50, 50, 51);
    border-left: 2px groove rgb(71, 163, 182);
    border-right: 2px groove rgb(71, 163, 182);
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.detailsTR {
    float: left;
    
    width: 16%;
    height: 42px;
    padding-top: 25px;
}


.ticketRequestContainer {
    
    text-align: center;
    color: white;
    margin-top: 20px;
    
}

.studentChangeHeader, .childRowsTR {
    width: 0px;
    height: 0px;
    border: 0px;

}

.ticketRequestTable {
    width:100%;
    color: white;
}

.studentChangeHeader {
    color: white;
    width: 20%;
    height: 70px;
    border: 2px solid rgb(255, 255, 255);
}

.childRowsTR {
    border-radius: 0px;
    text-align: left;
    border: 1px solid white;
    color: white;
    padding-left: 35px;
}

.tableColorChange {
    color: aliceblue;
}


/*******************************************************
 ************  CONTAINER FOR ALL ANIMATIONS  ***********
 *******************************************************/

.containerForLoading {
    /* border: 2px dashed red; BORDER FOR CSSING PURPOSES */
    position: absolute;
    width: 47%;
    min-width: 657px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: yellow;
    font-size:1.15ch;
    
}

/*******************************************************
 ************  PENDING REQUEST ANIMATION 1  ************
 *******************************************************/
.pendingRequest1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

  
.pendingRequest1::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 8px solid transparent;
    border-top-color: #dbd81a;
    border-bottom-color: #dbd81a;
    border-radius: 50%;
    animation: pendingRequest1 1s ease infinite;
}

@keyframes pendingRequest1 {
    from {
        transform: rotate(0turn);
    } to {
        transform: rotate(1turn);
    }
}


/*******************************************************
 ************  PENDING REQUEST ANIMATION 2  ************
 *******************************************************/

.pendingRequest2 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

  
.pendingRequest2::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 8px solid transparent;
    border-top-color: #dbd81a;
    border-bottom-color: #dbd81a;
    border-radius: 50%;
    animation: pendingRequest2 1s ease infinite;
}

@keyframes pendingRequest2 {
    from {
        transform: rotate(0turn);
    } to {
        transform: rotate(1turn);
    }
}


/*******************************************************
 ************  PENDING REQUEST ANIMATION 3  ************
 *******************************************************/

.pendingRequest3 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.pendingRequest3::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 8px solid transparent;
    border-top-color: #dbd81a;
    border-bottom-color: #dbd81a;
    border-radius: 50%;
    animation: pendingRequest3 1s ease infinite;
}

@keyframes pendingRequest3 {
    from {
        transform: rotate(0turn);
    } to {
        transform: rotate(1turn);
    }
}

/*******************************************************
 ************  PENDING REQUEST ANIMATION 4  ************
 *******************************************************/

.pendingRequest4 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

  
.pendingRequest4::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 8px solid transparent;
    border-top-color: #dbd81a;
    border-bottom-color: #dbd81a;
    border-radius: 50%;
    animation: pendingRequest4 1s ease infinite;
}

@keyframes pendingRequest4 {
    from {
        transform: rotate(0turn);
    } to {
        transform: rotate(1turn);
    }
}


/*******************************************************
 ************  PENDING REQUEST ANIMATION 5  ************
 *******************************************************/

.pendingRequest5 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
  
.pendingRequest5::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 8px solid transparent;
    border-top-color: #dbd81a;
    border-bottom-color: #dbd81a;
    border-radius: 50%;
    animation: pendingRequest5 1s ease infinite;
}

@keyframes pendingRequest5 {
    from {
        transform: rotate(0turn);
    } to {
        transform: rotate(1turn);
    }
}

/*******************************************************
 **************    CHECK-MARK CREATION   ***************
 *******************************************************/
.allowedSymbol1 { /* THE CHECK MARK */
    display: inline-block;
    transform: rotate(45deg);
    height: 30px;
    width: 13px;
    border-bottom: 8px solid #87d836;
    border-right: 8px solid #87d836;
    margin-top: 15px;
    margin-right: 20px;
}


/*******************************************************
 *****************    CHECK-MARK 2    ******************
 *******************************************************/
.allowedSymbol2 { /* THE CHECK MARK */
    display: inline-block;
    transform: rotate(45deg);
    height: 30px;
    width: 13px;
    border-bottom: 8px solid #87d836;
    border-right: 8px solid #87d836;
    margin-top: 38px;
    margin-right: 20px;
}

/*******************************************************
 *****************    CHECK-MARK 3    ******************
 *******************************************************/
.allowedSymbol3 { /* THE CHECK MARK */
    display: inline-block;
    transform: rotate(45deg);
    height: 30px;
    width: 13px;
    border-bottom: 8px solid #87d836;
    border-right: 8px solid #87d836;
    margin-top: 38px;
    margin-right: 20px;
}

/*******************************************************
 *****************    CHECK-MARK 4    ******************
 *******************************************************/
.allowedSymbol4 { /* THE CHECK MARK */
    display: inline-block;
    transform: rotate(45deg);
    height: 30px;
    width: 13px;
    border-bottom: 8px solid #87d836;
    border-right: 8px solid #87d836;
    margin-top: 38px;
    margin-right: 20px;
}

/*******************************************************
 *****************    CHECK-MARK 5    ******************
 *******************************************************/
.allowedSymbol5 { /* THE CHECK MARK */
    display: inline-block;
    transform: rotate(45deg);
    height: 30px;
    width: 13px;
    border-bottom: 8px solid #87d836;
    border-right: 8px solid #87d836;
    margin-top: 38px;
    margin-right: 20px;
}

/*******************************************************
 ************   EXCLAMATION MARK CREATION  *************
 *******************************************************/

.mark {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    border: 3px solid #e67e22;
    border-radius: 100px;
    margin-top: 18px;
    margin-right: 12px;
}
.mark:before, .mark:after {
    content: '';
    display: block;
    position: absolute;
}

.markNext {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    border: 3px solid #e67e22;
    border-radius: 100px;
    margin-top: 40px;
    margin-right: 12px;
}
.markNext:before, .markNext:after {
    content: '';
    display: block;
    position: absolute;
}

/*******************************************************
 ****************   EXCLAMATION MARK 1  ****************
 *******************************************************/
.exclamation-point1:before {
    top: 15%;
    left: 30%;
    height: 14px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}
.exclamation-point1:after {
    top: 70%;
    left: 30%;
    height: 5px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}

/*******************************************************
 ****************   EXCLAMATION MARK 1  ****************
 *******************************************************/
.exclamation-point2:before {
    top: 15%;
    left: 30%;
    height: 14px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}
.exclamation-point2:after {
    top: 70%;
    left: 30%;
    height: 5px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}

/*******************************************************
 ****************   EXCLAMATION MARK 1  ****************
 *******************************************************/
.exclamation-point3:before {
    top: 15%;
    left: 30%;
    height: 14px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}
.exclamation-point3:after {
    top: 70%;
    left: 30%;
    height: 5px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}

/*******************************************************
 ****************   EXCLAMATION MARK 1  ****************
 *******************************************************/
.exclamation-point4:before {
    top: 15%;
    left: 30%;
    height: 14px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}
.exclamation-point4:after {
    top: 70%;
    left: 30%;
    height: 5px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}

/*******************************************************
 ****************   EXCLAMATION MARK 1  ****************
 *******************************************************/
.exclamation-point5:before {
    top: 15%;
    left: 30%;
    height: 14px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}
.exclamation-point5:after {
    top: 70%;
    left: 30%;
    height: 5px;
    width: 5px;
    border: solid #e67e22;
    border-width: 0 4px 0 0;
}
