body {
  background-image: url("Images/LandingPageBackgroundIMG.jpg");
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}



.upper-flex-container {
  padding: 5% 5% 5% 5%;
  height: fill;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 10% 5% 5% 5%;
  background-color: rgb(34, 34, 34, 0.9);
}

.upper-flex-container > div {
  border-radius: 10px;
  margin: 10px;
  max-width: 20%;
  float: right;
  background-color: rgb(34, 34, 34, 0.9);
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}
h1 {
  font-size: 50px;
}
.lower-flex-container {
  justify-content: center;
  height: fill;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: 1% 5% 5% 2.5%;
}

.lower-flex-container > div {
  border-radius: 10px;
  padding: 5% 5% 5% 5%;
  margin: 10px;
  max-width: 20%;
  float: right;
  background-color: rgb(34, 34, 34, 0.9);
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}

.review-flex-container {
  justify-content: center;
  position:relative;
  top:-125px;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1% 5% 5% 5%;
}

/* ACTUAL REVIEW BOX CONTAINER */
.review-flex-container > div {
  border-radius: 10px;
  padding: 1% 5% 5% 5%;
  margin: 10px;
  max-width: 87%;
  max-height: 80%;
  z-index:1;
  float: right;
  background-color: rgba(90, 90, 90, 0.98);
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}

.reviewBackGround{
  background-color: red;
  padding:20px;
  left:111;
  margin:5px;
  width:200%;
  /* border:5px dashed white; */
}

.subHeader {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 40px;
}

.reviewDateWritten{
  float:right;
}

.review-area {
  display: flex;
  margin: auto;
  margin-top: 10%;
  min-width: 18em;
  justify-content: center;
}

.message-area {
  display: flex;
  flex-direction: column;
  order: 2;
}
.message-area > textarea {
  flex: 1;
  min-width: 18em;
  background: white;
  padding: 50px 100px;
}
.message-area button {
  margin: auto;
  margin-top: 5px;
  background: gray;
  color: white;
  border: 0;
  padding: 5px;
  width: 50%;
}

.message-area button:hover {
  background: lightgray;
  color: black;
}


/* 
--------------------------------------------------
--------- LIKE BUTTON CSS ---------
--------------------------------------------------
*/ 

.overallRatingsP{
  position: relative;
  left:-62px;
  font-size:larger;
  top:90px;
  width:5%;
  text-align: center;
}
#likeReviewBtn{
  width: 50px;
  height: 50px;
  padding-bottom:5px;
  border-radius:50%;
  border:white 1px solid;
  color:white;
  background-color:transparent;
  position: relative;
  left:-60px;
  top:70px;
}

#likeReviewBtn:hover{
  cursor:pointer;
}

.carret {
  position: relative;
  left:-8px;
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
}

.carret:before, .carret:after {
  content: '';
  display: block;
  position: absolute;
}

.carret.up:before {
  top: 30%;
  left: 30%;
  height: 15px;
  width: 15px;
  border: solid rgb(255, 255, 255);
  border-width: 0 0 10px 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* 
--------------------------------------------------
--------- REVIEW CONTAINERS CSS ---------
--------------------------------------------------
*/ 
.reviewMessageContainer{
  /* border:1px dashed red; */
  position:static;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
}

.questionsDivContainer{
  /* border:1px blue solid; */
  width: 40%;
  /* height:300px; */
}

.questionHeaders{
  font-style: italic;
  color:lightblue;
}

.q1Review > p{
  color:black;
  background-color: white;
  padding: 5px 1px 5px 15px;
  border-radius: 15px;
}

.q2Review > p{
  color:black;
  background-color: white;
  padding: 5px 1px 5px 15px;
  border-radius: 15px;
}

.q3Review > p{
  color:black;
  background-color: white;
  padding: 5px 1px 5px 15px;
  border-radius: 15px;
}

.reviewMessage{
  width:58%;
  height:290px;
  margin-top:-300px;
  /* float:right 5px; */
  margin-left:46%;
  /* border:1px dashed red; */
}

.courseReviewMessage{
  color:black;
  background-color: white;
  padding: 5px 1px 5px 15px;
  border-radius: 15px;
  height:70%;
}
/* 
--------------------------------------------------
--------- LEAVE REVIEW OVERLAY CSS BELOW ---------
--------------------------------------------------
*/ 
#checkIfReviewExist:hover{
  cursor: not-allowed;
}

.leaveReviewForm { /* this is the container for holding review elements */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.leaveReviewForm > div { /* review questions  */
  padding: 1%;
  margin: 1%;
  flex: 1 0 25%;
  text-align: center;
  background-color: rgb(117, 116, 116);

}

#leaveReviewForm {
  position: relative;
  width: 70%;
  height: 80%;
  margin-left: 5%;
  margin-right: auto;
  background-color: rgb(34, 34, 34, 0.9);
  padding-bottom: 40px;
}

.reviewButton {
  position: absolute;
  bottom: 2.5%;
  margin: 0 40%;
  width: 60px;
  height: 30px;
}

#submitReviewButton {
  position: absolute;
  bottom: 2.5%;
  margin: 0 50%;
  width: 60px;
  height: 30px;
}

.addComment > textarea {
  height: 150px;
}


.leaveReviewForm > div > textarea { /* review text boxes */
  width: 90%;
  bottom: 0;
  resize: none;
}


/*VIEW OTHER PROFILE BUTTON*/
.btn a{
  color:black;
}
/* 
--------------------------------------------------
--------- Edit Review Form CSS  ---------
--------------------------------------------------
*/ 
.editReviewFormBtn:hover{
  cursor:pointer;
}

.editReviewFormBtn{
  color: white;
  margin-left:90%;
  text-decoration: underline;
  background-color: rgba(90, 90, 90, 0.98);
  border:none;
  border-radius: 10px 10px 0px 0px;
  width:8%;
  height:35px;
  position: relative;
  top:15px;
  left:-1px;
  z-index: 0;
  box-shadow: 5px 0px 5px rgb(34, 34, 34);
  font-size:larger;
}

.editReviewForm{
  display:none;
  padding:1%;
  position: absolute;
  z-index: 2;
  background-color: black;
  /* 95% for width previous */
  width:95%;
  left:1.44%; 
  margin-top:-13px;
  animation: slideIn 1s ease-in;
}

@keyframes slideIn {
  0%{
    /* transform: translateY(-100%); */
    opacity: 0.1;

    /* transform: rotate(1080deg);  */
     /* transform: skewX(50deg);  */
  }
}
/* 
--------------------------------------------------
--------- Display Replies <details> CSS  ---------
--------------------------------------------------
*/

summary{
  /*list-style: none;*//* This will hide the 'details' black arrow */
  padding:5px;
  width:15%;
  color: white;
  text-decoration: underline;
}

.viewReplySection{
  padding:5px;
  margin-left:1%;
  border:solid 3px black;
  background-color: rgb(117, 116, 116);
  border-radius: 10px;
}

.replyToRepiesDiv{
  padding-left:50px;
  width: 70%;
  margin-left:2%;
  border:solid 3px black;
  background-color: rgb(88, 88, 88);
  border-radius: 10px;
}

.replyMessageP{
  color:black;
  width:70%;
  min-height: 50px;
  background-color: white;
  padding: 5px 1px 5px 15px;
  border-radius: 15px;
}

.replyToReplyDate{
  margin-left:420px;
}
.replyDate{
  margin-left:80%;
}

.replyNames{
  text-decoration: underline;
}


#replySubmitBtn, #replyBtn2{
  display:block;
}

.replyBtn{
  padding-top:10px;
  padding-bottom:10px;
}

.replyBtn, .replyToReplyBtn:hover{
  cursor:pointer;
}

.replyBtn, .replyToReplyBtn{
  font-size:large;
  color: white;
  text-decoration: underline;
  background-color: transparent;
  border:none;
}

