body {
  background-image: url("Images/LandingPageBackgroundIMG.jpg");
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}



.upper-flex-container {
  padding: 5% 5% 5% 5%;
  height: fill;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 10% 5% 5% 5%;
  background-color: rgb(34, 34, 34, 0.9);
}

.upper-flex-container > div {
  border-radius: 10px;
  margin: 10px;
  max-width: 20%;
  float: right;
  background-color: rgb(34, 34, 34, 0.9);
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}
h1 {
  font-size: 50px;
}
.lower-flex-container {
  justify-content: center;
  height: fill;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 1% 5% 5% 5%;
}

.lower-flex-container > div {
  border-radius: 10px;
  padding: 5% 5% 5% 5%;
  margin: 10px;
  max-width: 20%;
  float: right;
  background-color: rgb(34, 34, 34, 0.9);
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}

.review-flex-container {
  justify-content: center;
  height: fill;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 34, 34, 0.9);
  margin: 1% 5% 5% 5%;
}

.review-flex-container > div {
  border-radius: 10px;
  padding: 5% 5% 5% 5%;
  margin: 10px;
  max-width: 90%;
  float: right;
  background-color: rgba(90, 90, 90, 0.9);
  box-shadow: 5px 5px 5px rgb(34, 34, 34);
}

.subHeader {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 40px;
}

.reviewDateWritten{
  float:right;
}

.review-area {
  display: flex;
  margin: auto;
  margin-top: 10%;
  min-width: 18em;
  justify-content: center;
}

.message-area {
  display: flex;
  flex-direction: column;
  order: 2;
}
.message-area > textarea {
  flex: 1;
  min-width: 18em;
  background: white;
  padding: 50px 100px;
}
.message-area button {
  margin: auto;
  margin-top: 5px;
  background: gray;
  color: white;
  border: 0;
  padding: 5px;
  width: 50%;
}

.message-area button:hover {
  background: lightgray;
  color: black;
}


/* 
--------------------------------------------------
--------- LEAVE REVIEW OVERLAY CSS BELOW ---------
--------------------------------------------------
*/ 

/* Below code is work in progress */

.leaveReviewForm { /* this is the container for holding review elements */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  
}

.leaveReviewForm > div { /* review questions  */
  padding: 1%;
  margin: 1%;
  flex: 1 0 25%;
  text-align: center;
  background-color: rgb(117, 116, 116);

}

#leaveReviewForm {
  position: relative;
  width: 90%;
  height: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(34, 34, 34, 0.9);
  padding-bottom: 40px;
}

.reviewButton {
  position: absolute;
  bottom: 2.5%;
  margin: 0 40%;
  width: 60px;
  height: 30px;
}
#submitButton {
  position: absolute;
  bottom: 2.5%;
  margin: 0 50%;
  width: 60px;
  height: 30px;
}

.addComment > textarea {
  height: 150px;
}


.leaveReviewForm > div > textarea { /* review text boxes */
  width: 90%;
  bottom: 0;
  resize: none;
}


/*VIEW OTHER PROFILE BUTTON*/
.btn a{
  color:black;
}

/* 
--------------------------------------------------
--------- Display Replies <details> CSS  ---------
--------------------------------------------------
*/ 

.replyToReplySummary{
  list-style: none;
}

summary{
  /*list-style: none;*//* This will hide the 'details' black arrow */
  padding:5px;
  width:10%;
  color: white;
  text-decoration: underline;
}

.viewReplySection{
  padding:5px;
  margin-left:1%;
  border:solid 3px black;
  background-color: rgb(117, 116, 116);
  border-radius: 10px;
}

.replyToRepiesDiv{
  padding:2px;
  width: 80%;
  margin-left:2%;
  border:solid 3px black;
  background-color: rgb(117, 116, 116);
  border-radius: 10px;
}

.replyDate{
  margin-left:80%;
}

.replyNames{
  text-decoration: underline;
}


#replySubmitBtn, #replyBtn2{
  display:block;
}
