/* Body styling */
body{
    background-repeat: no-repeat;
    background-size: cover;
}
/*
css code for the nav bar below
*/
/* styling for the profile picture on the nav bar */

ul{
padding-left:15px;
}

nav {
background: rgba(34, 34, 34, 0.9);
height: 60px;
z-index:5;
position: fixed;
width: 100%;
top: 0;
left: 0;
transition: .5s;
}
ul {
list-style-type: none;
}
a {
color: white;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
#logo{
font-family: Georgia, 'Times New Roman', Times, serif; 
font-size:30px;
color:white;
}

.menu li {
font-size: 16px;
padding: 15px 5px;
white-space: nowrap;

}

.button.secondary {
border-bottom: 1px #444 solid;
}


/* Navbar Toggle */
.toggle {
cursor:pointer;
}
.bars {
background: #999;
display: inline-block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}
.bars:before,
.bars:after {
background: #999;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}
.bars:before {
top: 5px;
}
.bars:after {
top: -5px;
}

/* Below is the view you will see if viewing from a phone*/
.menu {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin-top: 0px;
height: 25px;
padding-right: 10px;
}
.toggle {
order: 1;
}
.item.button {
order: 2;
}
.item {
width: 100%;
text-align: center;
order: 3;
display: none;
}
.item.active {
display: block;
}
/* Below is the view you will see if viewing from a tablet */
@media all and (min-width: 468px) {
.menu {
    justify-content: center;
}

.logo {
    flex: 1;
}

.item.button {
    width: auto;
    order: 1;
    display: block;
}
.toggle {
    order: 2;
}
.button.secondary {
    border: 0;
}
.button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius:50em;
}
.button.secondary a {
    background: transparent;    
}
.button a:hover {
    text-decoration: none;
    transition:all .25s;
}
.button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
}
.button.secondary a:hover {
    color: #ddd;
} 
}
/* Below is the view you will see if viewing from a Desktop */
@media all and (min-width: 768px) {
.item {
    display: block;
    width: auto;
}
.toggle {
    display: none;
}
.logo {
    order: 0;
    color:white;
}
.item {
    order: 1;
}
.button {
    order: 2;
}
.menu li {
    padding: 15px 10px;
}
.menu li.button {
    padding-right: 0;
}
}
/* styling for the exit button on the edit profile form */
#closeButton{
color: rgb(189, 16, 16);
background: none;
background-color: Transparent;
background-repeat:no-repeat;
border: none;
text-align: right;
font-size: 25px;
padding-left: 90%;
padding-bottom: 15px;
}

#navImage img{
    width: 30px;
    height: 35px;
    margin-top: -5px;
    margin-right: -15px;
   
    border-radius: 90px;
}

footer {
    background: rgba(34, 34, 34, 0.7);
    padding: 20px;
    position:absolute;
    left:0;
    right:0;
    margin-top:5%;
    align-items: center;
    text-align: center;
    color: white;
  }